.banner {
    background: #003087;
    color: white;
}

/* == CAR / BACKGROUND ======================================== */
.scene {
    position: absolute;
    width: 100%;
    height: 100%;
}

.background {
    background: #1c3687;
    opacity: 0;
}

#electronics{
    position: absolute;
    filter: drop-shadow(1px 4px 0px #002c60);
    width: 300px;
    height: 300px;
    top: 100px;
    left: 0px;
}

.cursor{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 88px;
    left: 160px;
}

.cursor .white{ fill: white; }
.cursor .black{ fill: #fff; }
.cursor .circle{ fill: white; opacity: 0 }
.cursor .shadow{ opacity: 0.3 }
.cursor .line.blue{  
    fill:none;
    stroke:#009cde;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-width:2px;
}

/* == COPY  ======================================== */
.frame img.text,
.frame img.logo {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0;
}



.cta {
    width: 240px;
    height: 38px;
    position: absolute;
    top: 130px;
    left: 30px;
    text-align: center;
    border-radius: 19px;
}

.cta img{
    position: relative;
    width: 240px;
    height: 38px;
}

.cta.yellow{
    background-color: #fdd100;
}
.cta.blue{
    background-color: #009cde;
}
