/*CSS reset settings here*/
* {
    margin: 0px;
    padding: 0px;
}
#wrapper {
    width: 950px;
    height: 600px;
    margin: 0 auto;
    padding-top: 10px;
}
#header {
    height: 150px;
    background-color: green;
    margin: 10px 20px 20px 20px;
}
#navigation {
    min-height: 300px;
    width: 200px;
    background-color: blue;
    margin: 20px 20px 20px 20px;
    margin-top: 20px;
}
#main_content {
    min-height: 400px;
    width: 700px;
    background-color: red;
    margin-left: 230px;
    margin-top: -320px;
    margin-bottom: 200px;
}
.subcontents {
    min-height: 200px;
    width: 202px;
    background-color: yellow;
    display: inline-block;
    margin: 20px 0px 0px 20px;
}
#advertisement {
    min-height: 120px;
    width: 656px;
    background-color: purple;
    margin: 20px 20px 0px 20px;
}

@media only screen and (max-width: 480px) {
    .sm-1 {
        width: 100%;
    }
    #wrapper {
        width: 100%;
    }
    #header {
        width: 97%;
    }
    #main_content {
        height: 830px;
        width: 97%;
        background-color: red;
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 200px;
    }
    .subcontents {
        width: 90%;
    }
    #advertisement {
        width: 90%;
    }
    #navigation {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 1023px) {
    .med-2 {
        width: 100%;
    }
    #wrapper {
        width: 100%;
    }
    #header {
        width: 97%;
    }
    #main_content {
        min-height: 610px;
        width: 97%;
        background-color: red;
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 200px;
    }
    .subcontents {
        width: 46%;
    }
    #advertisement {
        width: 95%;
    }
    #navigation {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .lg-4 {
        width: 100%;
    }
    #wrapper {
        width: 100%;
    }
    #header {
        width: 96%;
    }
    #navigation {
        width: 19%;
    }
    #main_content {
        width: 76%;
        margin-left: 22%;
    }
    .subcontents {
        width: 29.3%;
    }
    #advertisement {
        width: 94%;
    }
}
