* {
    padding: 0;
    margin: 0;
}
body {
    width: 970px;
    font-family: Verdana, sans-serif;
    margin: 0 auto;
}
.header {
	background: rgb(24,36,0);
	background: linear-gradient(90deg, rgba(24,36,0,0) 0%, rgba(16,100,91,0) 0%, rgba(0,239,255,1) 100%);
}
h1 {
    display: inline-block;
    width: 600px;
    padding: 5px;
}
.button {
    border: 1px solid black;
    background-color: darkblue;
    color: white;
    padding: 10px;
    border-radius: 3px;
}
.button:hover {
	opacity: 0.8;
	background-color: green;
}
textarea { resize: vertical; }

/*Styling that is for wall.php only*/
.headerText {
    display: inline-block;
    width: 200px;
}
.posts {
    margin: 20px 0px 20px 800px;
    border: 1px solid black;
    background-color: darkblue;
    color: white;
    padding: 10px;
    border-radius: 3px;
}
h2 {
    background-color: darkblue;
    color: white;
    padding: 5px;
}
.wall {
    display: block;
    border: none;
}
textarea {
    width: 966px;
    height: 100px;
    display: block;
    border: 2px solid black;
    border-radius: 4px;
}
input.posts {
    margin: 20px 20px 20px 800px;
}
h3 {
    background: rgb(24,36,0);
	background: linear-gradient(90deg, rgba(24,36,0,0) 0%, rgba(16,51,100,0) 0%, rgba(0,149,255,0.7329306722689075) 0%, rgba(0,149,255,0.34077380952380953) 86%);
    color: white;
    height: 30px;
    padding: 5px 0 5px 20px;
}
.message {
    min-height: 100px;
    display: block;
    /*	margin: 10px;*/
}
p {
    margin: 10px;
}
h4 {
    background: rgb(24,36,0);
	background: linear-gradient(90deg, rgba(24,36,0,0) 0%, rgba(16,51,100,0) 0%, rgba(0,149,255,0.7329306722689075) 0%, rgba(0,255,74,0.23713235294117652) 58%);
    height: 20px;
    padding-left: 20px;
}
.comment {
    min-height: 50px;
    display: block;
    margin: 5px 0px 5px 45px;
}
.commentText {
    width: 900px;
    margin: 5px 0 5px 45px;
}
