/****** All CSS ******/
body {
    font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 960px;
    min-height: 200px;
    margin: 0 auto;
}

.error {
    color: red;
}

.success {
    color: green;
}

#email-addresses {
    border-collapse: collapse;
}

#email-addresses td {
    border: 2px solid black;
    padding: 10px;
}

#quotes {
    width: 500px;
}

.big {
    font-weight: bold;
    font-size: 30px;
}

.float-left {
    text-align: left;
    display: block;
}

.float-right {
    text-align: right;
    display: block;
}

#quotes p {
    border: 1px solid darkgray;
    border-width: 0 0 1px 0;
    padding: 0 0 10px 0;
}
