* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: 62px 62px 62px 28px 62px 62px 62px 62px 62px 62px 62px 62px 62px 62px 62px 62px 62px 62px 62px 62px;
  grid-template-rows: 62px;
  grid-gap: 3px;
  padding: 10px;
}
.grid-container > p {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
div.wrapper {
  background-color: #eeeeee;
  margin: 15px auto;
  width: 1325px;
  min-height: 790px;
}
div.wrapper h1 {
  text-align: center;
  padding: 25px;
}
div.wrapper p {
  font-size: 15px;
}
div.box {
  height: 70px;
  width: 62px;
  padding-top: 15px;
}
.blue,
.pink,
.yellow,
.green,
.red {
  text-align: center;
  height: 70px;
  width: 62px;
  padding: 4px;
  border: 1px solid black;
}
h3 {
  color: #1913a2;
}
.blue {
  background-color: #689bff;
}
.pink {
  background-color: #fd9a98;
}
.yellow {
  background-color: #fecb00;
}
.green {
  background-color: #1fca21;
}
.red,
.box,
.grid-container > p {
  color: #f68598;
}
