body *{
    /* outline: 1px solid pink; */
    margin: 0px;
    padding: 0px;
}

div.container {
    height: 750px;
    width: 645px;
    margin: 0 auto;   
}

div.logo {
    width: 645px;
    height: 70px;
}

div.globe {
    width: 70px;
    height: 70px;
    background: url('./Internet_images/globe.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 15px;
    margin-left: 0px;
}

div.theInternet {
    width: 213px;
    height: 34px;
    background: url('./Internet_images/theInternet.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 35px;
    margin-left: 70px;
}

div.worlWideWeb {
    width: 645px;
    height: 47px;
    background-color: #4f81ab;   
}

div.header h1 {
    padding-top: 10px;
    color: white;
    padding-left: 20px;
    font-size: 1.50em;
}

div.main {
    height: 250px;
}

div.leftSidebarMain {
    display: inline-block;
    height: 520px;
    width: 180px;
    text-align: center;
    position: absolute;
    color: black;
}

div.leftSidebarMain div.definition h1 {
    font-size: 17px;
    margin-top: 10px;
    text-align: left;
}

div.leftSidebarMain div.definition h2 {
    font-size: 15px;
    margin-top: 10px;
    text-align: left;
}

div.leftSidebarMain div.definition .highlighted {
    color: #d9251e;
}

div.leftSidebarMain span.internet {
    color: #7ba1c1;
}

div.leftSidebarMain ul {
    height: 70px;
    list-style: none;
    cursor: pointer;
}

div.leftSidebarMain div.definition ul li {
    list-style: none;
}

div.leftSidebarMain div.definition .watchVideo { 
    display: block;
    width: 180px;
    height: 30px;
    background: #5e94c1;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    margin-top: 15px;
    box-shadow: 5px 3px black;
}

div.leftSidebarMain div.definition .moreResources { 
    display: block;
    width: 180px;
    height: 30px;
    background: #eca243;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    margin-top: 5px;
    box-shadow: 5px 3px black;
}

div.leftSidebarMain div.line {
    margin-top: 20px;
    border-bottom: 2px solid #c0c0c0;
}

div.leftSidebarMain div.definition div.background {
    width: 180px;
    height: 237px;
    background: url('./Internet_images/ad_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 20px;
}

div.leftSidebarMain div.definition div.background p {
    color: white;
    padding: 20px;
    font-size: 20px;
}

div.leftSidebarMain div.definition div.ninjaImage {
    width: 60px;
    height: 85px;
    background: url('./Internet_images/ninja.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 60px;
    margin-top: -20px;
}

div.leftSidebarMain div.definition div.background a {
    color: white;
    width: 130px;
    height: 25px;
    font-size: 17px;
    text-decoration: none;
    background-color: #55cbde;
    margin-top: 5px;
    position: absolute;
    margin-left: -60px;
    border-radius: 3px;
    box-shadow: 5px 3px black;
    padding-top: 5px;
}

div.rightSidebarMain {
    display: inline-block;
    position: relative;
    height: 633px;
    width: 465px;
    margin-left: 180px;
    color: black;
    text-align: center;
    vertical-align: top;
    background-color: white;
}

div.top {
    width: 465px;
    height: 53px;
    margin-top: -20px;
}

div.top div.house p {
    font-size: 20px;
    color: #3d77a8;
    position: absolute;
    padding-left: 40px;
    margin-top: -20px;
}

div.top div.houseImage {
    width: 20px;
    height: 20px;
    background: url('./Internet_images/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    margin-top: 30px;
    position: relative;
}

div.top div.phoneImage {
    width: 34px;
    height: 34px;
    background: url('./Internet_images/phone.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 290px;
    margin-top: -20px;
    position: absolute;
}

div.top div.schedule {
    width: 123px;
    height: 50px;
    position: absolute;
    margin-left: 329px;
    margin-top: -30px;
}

div.top div.schedule p {
    font-size: 10px;
}

div.top div.schedule h1 {
    font-size: 23px;
    color: #1bc5e0;
}

div.line {
    border-bottom: 1px solid black;
}

div.middle {
    width: 465px;
    height: 370px;
}

div.clientServer {
    height: 180px;
    width: 465px;
}

div.clientServer h1 {
    color: #2d6ca2;
    height: 130px;
    width: 465px;
    font-size: 17px;
    margin-left: -140px;
    padding-top: 10px;
}

div.clientServer p {
    color: black;
    height: 130px;
    width: 465px;
    font-size: 13px;
    margin-left: -48px;
    padding-top: 10px;
    position: absolute;
    margin-top: -120px;
}

div.clientServer ul {
    color: black;
    height: 230px;
    width: 465px;
    font-size: 13px;
    margin-left: 20px;
    padding-top: 10px;
    position: absolute;
    margin-top: -90px;
    font-size: 12px;
    margin-right: 10px;
}

div.clientServer ul li {
    margin-right: 30px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 5px;
}

div.clientServer span.blueHighlight {
    color: #66c1ce;
}

div.clientServer span.blackHighlight {
    font-weight: bold;
}

div.serverClientImage {
    width: 204px;
    height: 77px;
    background: url('./Internet_images/client_server.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    position: relative;
    margin: 0 auto;
}

div.actuallyHappens {
    height: 190px;
    width: 465px;
}

div.actuallyHappens h1 {
    color: #2d6ca2;
    height: 130px;
    width: 465px;
    font-size: 17px;
    margin-left: -110px;
    padding-top: 10px;
}

div.actuallyHappens ol {
    color: black;
    height: 230px;
    width: 465px;
    font-size: 13px;
    margin-left: 20px;
    padding-top: 10px;
    position: absolute;
    margin-top: -120px;
    font-size: 12px;
    margin-right: 10px;
}

div.actuallyHappens ol li {
    margin-right: 30px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 5px;
}

div.actuallyHappens span.blueHighlight {
    color: #66c1ce;
}

div.bottom {
    width: 425px;
    height: 100px;
    border-top: 3px solid #0286e0;
    border-right: 3px solid #0286e0;
    border-left: 3px solid #0286e0;
    margin-left: 20px;
    box-shadow: 5px 5px #939393;
    margin-top: 75px;
}

div.htmlImage {
    width: 90px;
    height: 82px;
    background: url('./Internet_images/html.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    position: relative;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: 10px;
}

div.bottom h1 { 
    color: #2d6ca2;
    height: 130px;
    width: 465px;
    font-size: 17px;
    margin-left: 10px;
    margin-top: -80px;
    position: absolute;
}

div.bottom p { 
    height: 130px;
    width: 300px;
    font-size: 12px;
    margin-left: 113px;
    margin-top: -60px;
    position: absolute;
    text-align: left;
}

div.bottom span.blueHighlight a {
    color: #66c1ce;
    text-decoration: none;
}


