/*CSS reset settings here*/
* {
  margin: 0px;
  padding: 0px;
}
#wrapper {
  width: 950px;
  min-height: 600px;
  background-color: silver;
  margin: 0 auto;
  padding-top: 10px;
}
#header {
  height: 150px;
  background-color: green;
  margin: 10px 20px 20px 20px;
}
#navigation {
  min-height: 300px;
  width: 200px;
  background-color: blue;
  margin: 20px 20px 20px 20px;
  margin-top: 20px;
}
#main_content {
  min-height: 400px;
  width: 700px;
  background-color: red;
  margin-left: 230px;
  margin-top: -320px;
  margin-bottom: 200px;
}
.subcontents {
  min-height: 200px;
  width: 210px;
  background-color: yellow;
  display: inline-block;
  margin: 0px 0px 0px 10px;
  margin-top: 10px;
}
#advertisement {
  min-height: 120px;
  width: 660px;
  background-color: purple;
  margin: 20px 0px 0px 10px;
}
