#container {
  background-color: yellow;
  display: inline-block;
  /* position: absolute; */
  height: 2000px;
  width: 2000px;
}
#box-1,
#box-2,
#box-3 {
  height: 100px;
  width: 100px;
  margin: 10px;
  display: inline-block;
}
#box-1 {
  background-color: green;
  /* position: absolute;
  top: 40px; */
  position: fixed;
  top: 40px;
}
#box-2 {
  background-color: pink;
}
#box-3 {
  background-color: blue;
}
